.footer {
  width: 100%;
  background-color: rgb(0, 149, 59);
  padding: 25px 250px;
  display: flex;
  flex-direction: column;
}
.footerFirstRow {
  display: flex;
  flex-direction: row;
}
.footerNav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 150px;
  padding-top: 5px;
}
.footerNavItem {
  color: white;
}
.footerNavItem:hover {
  color: rgb(85, 227, 69);
}
.footerContacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 7px;
  margin-left: 150px;
}
.footerContactsItem img {
  width: 20px;
  height: 20px;
}
.footerSecondRow {
  margin-top: 25px;
  width: 350px;
  color: white;
  font-size: 10px;
}
