.registrationContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/resoures/img/backgrounds/RegistBackground.jpg');
  background-size: cover;
  background-position: center;
}
.formContainer {
  width: 35%;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  background-color: white;
  border-radius: 5px;
  border-bottom-right-radius: 50px;
}
.formRegLog {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.formInput {
  height: 40px;
  padding-left: 15px;
}
.formlabel {
  font-size: large;
  color: black;
  font-weight: 900px;
  margin-top: 15px;
}
.formSubmit {
  margin-top: 15px;
  width: 250px;
  padding: 10px;
  border-radius: 25px;
  background-color: #005cb9;
  border: #005cb9;
  color: white;
  margin: auto auto;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}
.formSubmit:hover {
  background-color: rgb(35, 8, 90);
}
.RegTitle {
  margin-top: 35px;
  color: rgb(35, 8, 90);
}
.RegDescription {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.RegDescription:last-child {
  text-align: center;
}
.logo {
  background-image: url('/resoures/img/logo/logoBlack.png');
  background-size: cover;
  background-position: center;
  width: 172px;
  height: 50px;
}
.formAlert {
  display: block;
  color: #ea0034;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
  margin-top: 5px;
}
.good {
  color: #08da3d;
}
.formAlert::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #ea0034;
  border-radius: 25px;
}
.good::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #08da3d;
  border-radius: 25px;
}
