.NavCoursePage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.pathLink {
  color: rgb(35, 8, 90);
  font-size: 15px;
  text-decoration: none;

  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.path {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.pathLink:hover {
  color: rgb(85, 227, 69);
  text-decoration: underline;
}

.active {
  color: rgb(85, 227, 69);
}
