.LessonLink {
  margin-top: 15px;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  position: relative;

  transition: transform 0.3s ease-in-out;
}
.LessonLink:hover {
  transform: translateY(-0.5rem); /* hover:-translate-y-2 */
}
.LessonLinkImg {
  width: 400px;
  height: 240px;
  background-size: cover;
  border-bottom-left-radius: 50px;
}
.LessonLinkTexts {
  position: absolute;
  height: 200px;
  right: 0px;
  bottom: 0px;
  width: 430px;
  background-color: white;
  border-top-left-radius: 25px;
  padding: 20px 10px 0px 30px;
}
.LessonLinkTitle h3 {
  color: #23085a;
  font-size: 20px;
}
.LessonLinkTitle h3:hover {
  color: rgb(85, 227, 69);
  text-decoration: underline;
}
.LessonLinkDescription {
  margin-top: 10px;
  font-size: 13px;
}
